## ðŸ‘‰ Introduction to siket learn

In [203]:
# Standard imports
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
# heart_disease

In [204]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [205]:
X = heart_disease.drop("target", axis=1)
y = heart_disease['target']

In [206]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [207]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [208]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [209]:
len(heart_disease)

303

 ## ðŸ‘‰ Make Sure all the data is numerical

In [210]:
car_sales = pd.read_csv('data/car-sales-extended.csv')
print(car_sales.head())
print(car_sales.dtypes)

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043
Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [211]:
# split data into X/y
X = car_sales.drop('Price', axis=1)
y = car_sales['Price']
# print(X.head())
# print(y.headad())


X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y,
                                                    test_size=0.2)

In [212]:
from sklearn.ensemble import RandomForestRegressor

# model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_test, y_test)

In [213]:
# convert catogaries into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
catagorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot,
                                 catagorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [214]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [215]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0

In [216]:
# refit model
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                   y,
                                                   test_size=0.2)

model.fit(X_train, y_train)

RandomForestRegressor()

In [217]:
model.score(X_test, y_test)

0.3235867221569877

## ðŸ‘‰ Handling the Missing Data

In [218]:
# import car_sales missing data
car_sales_missing_data = pd.read_csv('data/car-sales-extended-missing-data.csv')
car_sales_missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [219]:
car_sales_missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [220]:
# create new X and Y

X = car_sales_missing_data.drop('Price', axis=1)

y = car_sales_missing_data['Price']

In [221]:
# let's convert data into numbers
# convert catogaries into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
catagorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot,
                                 catagorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

## ðŸ‘‰ Fill the missing data with pandas

In [222]:
# fill the columns that are missing data

# fill the Make columns
car_sales_missing_data['Make'].fillna("missing", inplace=True)

# fill the Colour columns
car_sales_missing_data['Colour'].fillna("missing", inplace=True)

# fill the Odometer (KM) columns
car_sales_missing_data['Odometer (KM)'].fillna(car_sales_missing_data['Odometer (KM)'].mean(), inplace=True)

# fill the Doors columns
car_sales_missing_data['Doors'].fillna(4, inplace=True)

In [223]:
car_sales_missing_data.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [224]:
car_sales_missing_data.dropna(inplace=True)

In [225]:
car_sales_missing_data

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [226]:
X = car_sales_missing_data.drop('Price', axis=1)
y = car_sales_missing_data['Price']

In [227]:
# convert catogaries into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
catagorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot,
                                 catagorical_features)],
                                 remainder="passthrough")
transformed_X = transformer.fit_transform(car_sales_missing_data)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

## ðŸ‘‰ Fill the missing data with Siket learn

In [228]:
# Option 2: Filling the data with Siket learn
car_missing_data = pd.read_csv('data/car-sales-extended-missing-data.csv')
car_missing_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [229]:
car_missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [230]:
car_missing_data.dropna(subset=['Price'], inplace=True)

In [231]:
car_missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [263]:
# Split the data into X/y

X = car_missing_data.drop('Price', axis=1)
y = car_missing_data['Price']

In [ ]:
# fill missing values with siketlearn

In [232]:
# creating the X (featured matrix)
# x = hd.drop("target", axis=1)
# 
# 
# # creating a label matrix
# y = hd['target']

In [233]:
# x

In [234]:
# y

In [235]:
# from sklearn.ensemble import RandomForestClassifier
# 
# clf = RandomForestClassifier()
# 
# clf.get_params()

In [236]:
# from sklearn.model_selection import train_test_split
# 
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=(0.2))

In [237]:
# clf.fit(x_train, y_train)

In [238]:
# x_train
# y_train, y_test

# x_test
# y_test

In [239]:
# y_pred = clf.predict(x_test)
# y_pred

In [240]:
# clf.score(x_train, y_train)

In [241]:
# clf.score(x_test, y_test)

In [242]:
# from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [243]:
# print(classification_report(y_test, y_pred))

In [244]:
# confusion_matrix(y_test, y_pred)

In [245]:
# accuracy_score(y_test, y_pred)

In [246]:
# improve model

# np.random.seed(42)
# 
# for i in range(10, 100, 10):
#     print(f"trying to test model on {i} estimators")
#     clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
#     print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100}%")
#     print("")

In [247]:
# import pickle

In [248]:
# pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [249]:
# lm = pickle.load(open("random_forest_model_1.pkl", "rb"))
# lm.score(x_test, y_test)

In [250]:
# X = hd.drop("target", axis=1)
# X.head()

In [251]:
# Y = hd['target']
# Y.head()

In [252]:
# from sklearn.model_selection import train_test_split
# X_train, Y_train, X_test, Y_test = train_test_split(X,
#                                                     Y,
#                                                     test_size=0.2)

In [253]:
# X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

## Make Sure it is all numerical

In [254]:
# car_sales = pd.read_csv('data/car-sales-extended.csv')
# car_sales.head()

In [255]:
# car_sales.dtypes

In [256]:
# split data into X/Y

# X = car_sales.drop("Price", axis=1)
# y = car_sales["Price"]

In [257]:
# X.head()

In [258]:
# X_train, Y_train, X_test, Y_test = train_test_split(X,
#                                                    y,
#                                                    test_size=0.2)

In [259]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# catagorical_features = ["Make", "Colour", "Doors"]
# one_hot = OneHotEncoder()
# transformer = ColumnTransformer([("one_hot", one_hot,
#                                  catagorical_features)],
#                                  remainder="passthrough")
# 
# transformed_X = transformer.fit_transform(X)
# transformed_X

In [260]:
# dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
# dummies.head()

In [261]:
# pd.DataFrame(transformed_X).head()

In [262]:
# np.random.seed(42)
# X_train, X_test, Y_train, Y_test = train_test_split(transformed_X,
#                                                    y,
#                                                    test_size=0.2)
# model.fit(X_train, Y_train)